In [1]:
from EduData import get_data

get_data("assistment-2009-2010-skill", "../../data")

downloader, INFO http://base.ustc.edu.cn/data/ASSISTment/2009_skill_builder_data_corrected.zip is saved as ..\..\data\2009_skill_builder_data_corrected.zip
downloader, INFO file existed, skipped

'..\\..\\data\\2009_skill_builder_data_corrected'

In [2]:
import random
import pandas as pd
import tqdm
import numpy as np

data = pd.read_csv(
    '../../data/2009_skill_builder_data_corrected/skill_builder_data_corrected.csv',
    usecols=['order_id', 'user_id', 'skill_id', 'correct']
).dropna(subset=['skill_id'])

data.head()

   order_id  user_id  correct  skill_id
0  33022537    64525        1       1.0
1  33022709    64525        1       1.0
2  35450204    70363        0       1.0
3  35450295    70363        1       1.0
4  35450311    70363        0       1.0

In [3]:
raw_question = data.skill_id.unique().tolist()
num_skill = len(raw_question)

# question id from 0 to (num_skill - 1)
questions = { p: i for i, p in enumerate(raw_question) }

print("number of skills: %d" % num_skill)

number of skills: 123

In [4]:
def parse_all_seq(students):
    all_sequences = []
    for student_id in tqdm.tqdm(students, 'parse student sequence:\t'):
        student_sequence = parse_student_seq(data[data.user_id == student_id])
        all_sequences.extend([student_sequence])
    return all_sequences


def parse_student_seq(student):
    seq = student.sort_values('order_id')
    q = [questions[q] for q in seq.skill_id.tolist()]
    a = seq.correct.tolist()
    return q, a


# [(question_sequence_0, answer_sequence_0), ..., (question_sequence_n, answer_sequence_n)]
sequences = parse_all_seq(data.user_id.unique())

parse student sequence:	: 100%|██████████| 4163/4163 [00:08<00:00, 468.66it/s]

In [5]:
def train_test_split(data, train_size=.7, shuffle=True):
    if shuffle:
        random.shuffle(data)
    boundary = round(len(data) * train_size)
    return data[: boundary], data[boundary:]


train_sequences, test_sequences = train_test_split(sequences)

In [6]:
def sequences2tl(sequences, trgpath):
    with open(trgpath, 'a', encoding='utf8') as f:
        for seq in tqdm.tqdm(sequences, 'write into file: '):
            questions, answers = seq
            seq_len = len(questions)
            f.write(str(seq_len) + '\n')
            f.write(','.join([str(q) for q in questions]) + '\n')
            f.write(','.join([str(a) for a in answers]) + '\n')


# save triple line format for other tasks
sequences2tl(train_sequences, '../../data/2009_skill_builder_data_corrected/train.txt')
sequences2tl(test_sequences, '../../data/2009_skill_builder_data_corrected/test.txt')


# reduce the amount of data for example running faster
percentage = 0.05
train_sequences = train_sequences[:int(len(train_sequences)*percentage)]
test_sequences = test_sequences[:int(len(test_sequences)*percentage)]
sequences2tl(train_sequences, '../../data/2009_skill_builder_data_corrected/example_train.txt')
sequences2tl(test_sequences, '../../data/2009_skill_builder_data_corrected/example_test.txt')

write into file: 100%|██████████| 2914/2914 [00:00<00:00, 12347.44it/s]
write into file: 100%|██████████| 1249/1249 [00:00<00:00, 11783.26it/s]
write into file: 100%|██████████| 145/145 [00:00<00:00, 16111.85it/s]
write into file: 100%|██████████| 62/62 [00:00<00:00, 15496.50it/s]